# Basic Excel READ using PANDAS

In [3]:
import pandas as pd
from openpyxl.workbook import Workbook  #need to understand

In [4]:
#read Excel, csv and text file
df_myExcel = pd.read_excel('/Users/ragnihotri/Rohit/Training/Python/sampleFiles/activeuserlist1.xlsx')
df_excel = pd.read_excel('/Users/ragnihotri/Rohit/Training/Python/sampleFiles/regions.xlsx')
df_csv = pd.read_csv('/Users/ragnihotri/Rohit/Training/Python/sampleFiles/Names.csv', header = None)
df_txt = pd.read_csv('/Users/ragnihotri/Rohit/Training/Python/sampleFiles/data.txt', delimiter = '\t')

In [5]:
print(df_excel)

  Region  Units  Sales  Export
0  South     54    332     100
1  North     20    110      50
2   East     36    224      85
3   West     60    400     110
4   West     50    226      65
5  North     84    470     150

In [6]:
print(df_csv)

                     0         1                                 2  \
0                 John       Doe                 120 jefferson st.
1                 Jack  McGinnis                      220 hobo Av.
2        John "Da Man"    Repici                 120 Jefferson St.
3              Stephen     Tyler  7452 Terrace "At the Plaza" road
4                  NaN  Blankman                               NaN
5  Joan "Danger", Anne       Jet               9th, at Terrace plc

             3    4      5       6
0    Riverside   NJ   8074   45000
1        Phila   PA   9119   18000
2    Riverside   NJ   8075  120000
3     SomeTown   SD  91234   90000
4     SomeTown   SD    298   30000
5  Desert City   CO    123   68000

In [7]:
print(df_txt)

                ID  EGF_Baseline  EGF_Stimulus
0      FBgn0029994         -1.25         -0.27
1      FBgn0037191         -1.05          0.78
2      FBgn0036810          2.08          1.34
3      FBgn0033320          1.15          0.45
4      FBgn0051156         -1.77         -0.76
5      FBgn0004635         -0.77         -0.42
6      FBgn0260646         -0.92          0.97
7      FBgn0038397          0.04          0.22
8      FBgn0010583         -0.77         -0.59
9      FBgn0025583         -2.18         -2.13
10     FBgn0032906         -1.63          0.25
11     FBgn0031321          0.57         -0.42
12     FBgn0052568          0.69          0.39
13     FBgn0030674         -0.45          1.63
14     FBgn0085397         -1.19         -1.37
15     FBgn0038427         -0.17          0.38
16     FBgn0033233         -1.14          0.46
17     FBgn0033736          1.12          0.93
18     FBgn0033495          0.82         -0.33
19     FBgn0020503          0.06         -1.13
20     FBgn0031885          0.65          0.06
21     FBgn0067864          1.14          0.13
22     FBgn0035785         -1.26         -1.06
23     FBgn0039673         -1.24          1.01
24     FBgn0051717          7.19         -0.27
25     FBgn0030748          0.70         -0.58
26     FBgn0031751          1.32         -0.60
27     FBgn0039207         -0.99         -0.96
28     FBgn0067312         -0.52         -0.71
29     FBgn0052816         -0.83          0.61
...            ...           ...           ...
11736  FBgn0001981         -1.07         -1.79
11737  FBgn0034291         -1.84         -1.43
11738  FBgn0010531         -0.83          0.76
11739  FBgn0039677         -1.25          0.53
11740  FBgn0036851          0.39          0.82
11741  FBgn0051267          0.28          0.83
11742  FBgn0032368          0.46         -0.69
11743  FBgn0030584         -1.67         -0.96
11744  FBgn0023169          0.84          0.85
11745  FBgn0030443          0.66          0.50
11746  FBgn0035008         -0.32         -0.22
11747  FBgn0030403         -0.41          0.35
11748  FBgn0001128         -1.60          1.60
11749  FBgn0250846         -1.20          1.05
11750  FBgn0015609          1.07         -0.49
11751  FBgn0259994         -1.21          2.45
11752  FBgn0035011         -1.12         -1.02
11753  FBgn0033063          0.78          1.11
11754  FBgn0032895         -0.23         -0.74
11755  FBgn0031141          0.49          0.64
11756  FBgn0040069         -0.93          0.79
11757  FBgn0033471          0.70         -0.58
11758  FBgn0035591         -0.30         -0.17
11759  FBgn0036822         -0.46          0.88
11760  FBgn0028530         -0.35          0.61
11761  FBgn0026136          0.57          1.23
11762  FBgn0037356          1.14         -0.95
11763  FBgn0038214         -1.86         -0.67
11764  FBgn0042110          1.49          0.43
11765  FBgn0034202         -1.32         -0.22

[11766 rows x 3 columns]

In [8]:
#adding the header col to csv
df_csv.columns = ['First', 'Last', 'Address', 'City', 'State', 'AreaCode', 'Salary'] 
print(df_csv)

                 First      Last                           Address  \
0                 John       Doe                 120 jefferson st.
1                 Jack  McGinnis                      220 hobo Av.
2        John "Da Man"    Repici                 120 Jefferson St.
3              Stephen     Tyler  7452 Terrace "At the Plaza" road
4                  NaN  Blankman                               NaN
5  Joan "Danger", Anne       Jet               9th, at Terrace plc

          City State  AreaCode  Salary
0    Riverside    NJ      8074   45000
1        Phila    PA      9119   18000
2    Riverside    NJ      8075  120000
3     SomeTown    SD     91234   90000
4     SomeTown    SD       298   30000
5  Desert City    CO       123   68000

In [9]:
#saving csv to excel file with header
df_csv.to_excel('/Users/ragnihotri/Rohit/Training/Python/sampleFiles/modified.xlsx')

In [10]:
print(df_myExcel)

     USER_NAME          GROUP_NAME
0       ugth48          accounting
1       u8mk33               admin
2      ugdd130               admin
3      uisa106               admin
4      ugar194          backoffice
5      ugjb390          backoffice
6      ugmm225          backoffice
7      ugtr101          backoffice
8       engine       backofficemgr
9      ugcb113       documentation
10      ugej46       documentation
11      ugmt89       documentation
12       ugcw5       eq_backoffice
13     ugmm225       eq_backoffice
14     ugrr101       eq_backoffice
15      ugto37       eq_backoffice
16     ugab193             eq_mktr
17       ugnd6           eq_trader
18   ugdd130gb             gbgroup
19    ugja63gb             gbgroup
20      ugdd59            marketer
21      ugem33            marketer
22      ughd30            marketer
23      unbm29            marketer
24       ugkh4             project
25      ugcj65                risk
26     ugrk118          backoffice
27     ugsa174       documentation
28     ugrg138       eq_backoffice
29     ugtr101       eq_backoffice
..         ...                 ...
118    ugcc271          accounting
119    ugdl130          backoffice
120    ugjd210          backoffice
121     ugno10          backoffice
122    ugtm265          backoffice
123     ugmt89       backofficemgr
124    ugjk137       documentation
125    ugmg211       documentation
126    ugar194       eq_backoffice
127    ugdl130       eq_backoffice
128     ugmt89           eq_bo_mgr
129    uvsh198           eq_bo_mgr
130    ugtc111             eq_mktr
131     ugja63           eq_trader
132     ugaw60  equitybackofficero
133  ugch109gb             gbgroup
134   ugps44gb             gbgroup
135    ugza3gb             gbgroup
136     ugba39            marketer
137    ugbm120            marketer
138     uggl18            marketer
139    ugjc367            marketer
140    ugjs437            marketer
141    ugkw167            marketer
142     ugsz21            marketer
143    unjs148            marketer
144     unjv13            marketer
145    ugch109               quant
146     ugcn20              trader
147      uvph1              trader

[148 rows x 2 columns]

In [15]:
df = pd.read_csv('/Users/ragnihotri/Rohit/Training/Python/sampleFiles/Names.csv', header = None)
df.columns = ['First', 'Last', 'Address', 'City', 'State', 'AreaCode', 'Income'] #adding the header col to csv
size = str(len(df))
print('Rows in file = ' + size)
print('-----------------------------------')

print(df)
print('-----------------------------------')

print(df['State'])
print('-----------------------------------')

print(df[['First', 'State']])
print('-----------------------------------')

print(df['First'][0:3])
print('-----------------------------------')

Rows in file = 6
-----------------------------------
                 First      Last                           Address  \
0                 John       Doe                 120 jefferson st.
1                 Jack  McGinnis                      220 hobo Av.
2        John "Da Man"    Repici                 120 Jefferson St.
3              Stephen     Tyler  7452 Terrace "At the Plaza" road
4                  NaN  Blankman                               NaN
5  Joan "Danger", Anne       Jet               9th, at Terrace plc

          City State  AreaCode  Income
0    Riverside    NJ      8074   45000
1        Phila    PA      9119   18000
2    Riverside    NJ      8075  120000
3     SomeTown    SD     91234   90000
4     SomeTown    SD       298   30000
5  Desert City    CO       123   68000
-----------------------------------
0     NJ
1     PA
2     NJ
3     SD
4     SD
5     CO
Name: State, dtype: object
-----------------------------------
                 First State
0                 John    NJ
1                 Jack    PA
2        John "Da Man"    NJ
3              Stephen    SD
4                  NaN    SD
5  Joan "Danger", Anne    CO
-----------------------------------
0             John
1             Jack
2    John "Da Man"
Name: First, dtype: object
-----------------------------------

In [12]:
#printing the first row
print(df.iloc[1])
print('-----------------------------------')

#printing value at a particular index
print(df.iloc[2,1])
print('-----------------------------------')

#save specific columns to a seperate file
wanted_values = df[['First', 'Last', 'Salary']]
df.to_excel('/Users/ragnihotri/Rohit/Training/Python/sampleFiles/modifiedViaApi2.xlsx')

First               Jack
Last            McGinnis
Address     220 hobo Av.
City               Phila
State                 PA
AreaCode            9119
Salary             18000
Name: 1, dtype: object
-----------------------------------
Repici
-----------------------------------
-----------------------------------

In [25]:
#search data based on cell value :: like sorting in excel
print(df)
print('-----------------------------------')
print(df.loc[(df['City'] == 'Riverside') & (df['First'] == 'John')])

                 First      Last                           Address  \
0                 John       Doe                 120 jefferson st.
1                 Jack  McGinnis                      220 hobo Av.
2        John "Da Man"    Repici                 120 Jefferson St.
3              Stephen     Tyler  7452 Terrace "At the Plaza" road
4                  NaN  Blankman                               NaN
5  Joan "Danger", Anne       Jet               9th, at Terrace plc

          City State  AreaCode  Income
0    Riverside    NJ      8074   45000
1        Phila    PA      9119   18000
2    Riverside    NJ      8075  120000
3     SomeTown    SD     91234   90000
4     SomeTown    SD       298   30000
5  Desert City    CO       123   68000
-----------------------------------
  First Last            Address       City State  AreaCode  Income
0  John  Doe  120 jefferson st.  Riverside    NJ      8074   45000

In [28]:
#create a new column based on values of an existing column
df['Tax%'] = df['Income'].apply(lambda x: .15 if 10000 < x < 40000 else .2 if 40000 < x < 80000 else .25)
print(df[['First', 'Income', 'Tax%']])

                 First  Income  Tax%
0                 John   45000  0.20
1                 Jack   18000  0.15
2        John "Da Man"  120000  0.25
3              Stephen   90000  0.25
4                  NaN   30000  0.15
5  Joan "Danger", Anne   68000  0.20

In [33]:
#create a new column based on multiplying two columns
df['Taxes Owed'] = df['Income'] * df ['Tax%']
#print(df)
print(df[['First', 'Income', 'Tax%', 'Taxes Owed']])

                 First  Income  Tax%  Taxes Owed
0                 John   45000  0.20      9000.0
1                 Jack   18000  0.15      2700.0
2        John "Da Man"  120000  0.25     30000.0
3              Stephen   90000  0.25     22500.0
4                  NaN   30000  0.15      4500.0
5  Joan "Danger", Anne   68000  0.20     13600.0

In [47]:
#drop columns
#to_drop = ['First','Address','AreaCode']
#df.drop(columns=to_drop, axis = 0, inplace = True)
print(df)

       Last         City State  Income  Tax%  Taxes Owed
0       Doe    Riverside    NJ   45000  0.20      9000.0
1  McGinnis        Phila    PA   18000  0.15      2700.0
2    Repici    Riverside    NJ  120000  0.25     30000.0
3     Tyler     SomeTown    SD   90000  0.25     22500.0
4  Blankman     SomeTown    SD   30000  0.15      4500.0
5       Jet  Desert City    CO   68000  0.20     13600.0

In [50]:
#Change the value of a column based on another coloumn
df['Test Col'] = False
df.loc[df['Income'] < 60000, 'Test Col'] = True
print(df)

       Last         City State  Income  Tax%  Taxes Owed  Test Col
0       Doe    Riverside    NJ   45000  0.20      9000.0      True
1  McGinnis        Phila    PA   18000  0.15      2700.0      True
2    Repici    Riverside    NJ  120000  0.25     30000.0     False
3     Tyler     SomeTown    SD   90000  0.25     22500.0     False
4  Blankman     SomeTown    SD   30000  0.15      4500.0      True
5       Jet  Desert City    CO   68000  0.20     13600.0     False

In [58]:
#groupby and sort functions
print(df.sort_values(by = ['Income']))

       Last         City State  Income  Tax%  Taxes Owed  Test Col
1  McGinnis        Phila    PA   18000  0.15      2700.0      True
4  Blankman     SomeTown    SD   30000  0.15      4500.0      True
0       Doe    Riverside    NJ   45000  0.20      9000.0      True
5       Jet  Desert City    CO   68000  0.20     13600.0     False
3     Tyler     SomeTown    SD   90000  0.25     22500.0     False
2    Repici    Riverside    NJ  120000  0.25     30000.0     False

In [ ]:
# create a new excel file
# create three worksheets
# read data from multiple worksheets
# edit data in a sheet
# write data to multiple worksheets
# delete one worksheet